<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wy.rest.addons.zsh.bs_send_channel.dao.Bs_send_channelMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="wy.rest.addons.zsh.bs_send_channel.model.Bs_send_channel">
	<id column="send_chnl_id" property="send_chnl_id" />
	<result column="send_chnl_no" property="send_chnl_no" />
	<result column="send_chnl_nm" property="send_chnl_nm" />
	<result column="send_chnl_desc" property="send_chnl_desc" />
	<result column="send_chnl_phoe" property="send_chnl_phoe" />
	<result column="send_chnl_num" property="send_chnl_num" />
	<result column="send_chnl_flg" property="send_chnl_flg" />
	<result column="xyd_st_id" property="xyd_st_id" />
	<result column="xyd_cre_dt" property="xyd_cre_dt" />
	<result column="xyd_up_dt" property="xyd_up_dt" />
	<result column="id" property="id" />
	</resultMap>
</mapper>